body {
	max-width: 1000px;
	margin: auto;
	font-family: 'Mada', sans-serif;
	background-color: lavender;
}

h2 {
	color: darkslategrey;
}

p {
	font-size: 1.1em;
	font-weight: lighter;
}

img {
	border-radius: 50%;
}

.carousel {
  position: relative;
  min-width: 500px;
  height: 600px;
}

#first {
	text-align: center;
	padding-top: 100px;
}

#second {
  padding-top: 210px;
  padding-left: 150px;
}

#intro {
	margin-top: 10px;
}

